@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Maitree:wght@700&family=Rubik+Doodle+Shadow&display=swap');
/* reseting margin and padding of body */
*{
  margin: 0;
  padding: 0;
}

/* global styles for whole website */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14191b !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fontcolor:rgb(237, 237, 237);
  --namecolor:#cf1b1b;
  --bgcolor:#14191b;
  scrollbar-color: rgb(207, 27, 27) rgb(20, 25, 27) !important;
  scrollbar-width: thin !important;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--namecolor);
}

/* main navbar */

#navbar{
  background-color: var(--bgcolor);
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#navbar .left{
  height: inherit;
  width: 100px;
}
#navbar .left img{
  width: 60%;
  margin: 5px 20px;
  cursor: pointer;
}
#navbar .center ul {
  display: flex;
  justify-content: center;
  line-height: 30px;
  flex-wrap: wrap;
}
#navbar .center ul li{
  list-style: none;
  margin: 1em;
}
#navbar .center ul li a,#navbar .right button a{
  text-decoration: none;
  color: var(--fontcolor);
  font-weight: 600;
}

nav a{
  transition: all linear 0.3s;
}
nav a.activ{
  font-size: x-large;
  text-shadow: 0px 0px 5px grey;
}
#navbar .right button,#resume-button,.hirebtn,#contact-btn{
  margin-top: 15px;
  height: 30px;
  width: 100px;
  background-color: var(--namecolor);
  border: none;
  outline: none;
  border-radius: 10px;
}
#navbar .bars{
  display: none;
  position: absolute;
}
#navbar .bars button{
  color: white;
}

/* second navbar for mobile view */

#navbar2{
  animation: navbar 0.3s ease-in-out 1 forwards;
  background-color: var(--bgcolor);
  height: 100vh;
  position: relative;
  z-index: 5;
}
#navbar2 ul{
  position: relative;
  top: 70px;
}
#navbar2 ul li{
  list-style: none;
  margin-top: 40px;
  border-bottom: 2px solid black;
  text-align: center;
}
#navbar2 ul li a{
  text-decoration: none;
  color: var(--fontcolor);
  line-height: 40px;
  font-size: larger;
  font-weight: 600;
}
#navbar2 #resume-button{
  margin-top: 0px;
  margin-bottom: 10px;
}
#navbar2 ul li #resume-button a{
  line-height: normal;
}

/* the main tag */

#main{
  height: 90vh;
  width: 80vw;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 125px 10px;
}
#main .color-red{
  color: var(--namecolor);
}

/* hi heading */

#main .hi{
  font-size: 40px;
}

/* name */

.waviy {
  position: relative;
  -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.waviy span {
  font-weight: 700;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
}
#main .text-div #text{
  font-size: 30px;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
}
#main .mleft{
  margin-left: 30px;
}
#me{
  position: relative;
}

/* my image */

.myimg{
  height: 400px;
  width: 400px;
  position: absolute;
  right: 30px;
  top: -100px;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);;
  overflow: hidden;
}
.myimg img{
  width: 100%;
  margin-top: 110px;
  transform: scale(2.1);
  margin-left: -10px;
}

/* hire button */

.hirebtn{
  font-weight: 600;
  margin-left: 150px;
  cursor: pointer;
  position: absolute;
  margin-top: 50px;
  height: 40px;
  width: 150px;
  font-size: larger;
  color: white;
}

/* mobile navbar animation */

@keyframes navbar {
  from{
    width: 0vw;
    opacity: 0;
  }
  to{
    width: 70vw;
    opacity: 1;
  }
}

/* social icons */

#main .social-icons{
  height: 70px;
  width: 100%;
  margin-top: 170px;
  display: flex;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}
#main .social-icons .icon{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  margin-top: 10px;
}
#main .social-icons .icon a{
  color: white;
}

/* home about section */

#second{
  height: auto;
  width: 40vw;
  margin: 60px auto;
}
#second .abt,#third .skl,#education .edu,#projects #proj,.about-heading,#experience #exp-heading,#skills .skill-heading,.educationpage .edu-heading,.contact .contact-heading,.project-page .project-heading{
  text-align: center;
  color: var(--namecolor);
  font-size: 50px;
  text-decoration: underline;
  font-weight: 800;
}
#second #abt-para{
  padding: 30px;
  color: rgb(204, 202, 202);
  font-weight: 700;
  font-size: 20px;
}
#second #abt-para a{
  color: var(--namecolor);
}

/* home page skills section */

#third{
  height: 50vh;
  width: 70vw;
  margin: 50px auto;
}
#third .skl a,.abt a,.edu a,#projects #proj a{
  color: var(--namecolor);
  cursor: pointer;
}
#third .skills{
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}
#third .skills-home{
  width: 40%;
  height: 50px;
  border-bottom: #cf1b1b;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* education section */

#education{
  width: 40vw;
  height: 60vh;
  margin: 100px auto;
}
#education .edu-list{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#education .edu-list .eduuu{
  width: 300px;
  border-bottom:5px solid var(--namecolor) ;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
}

/* home page skills section */

#third .skills-home .skill-icon{
  font-size: 20px;
} 

/* home page projects section */

#projects{
  height: auto;
  width: 80vw;
  margin: 170px auto;
}
#projects .proj-images{
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  
}
#projects .proj-img{
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #293235;
}
#projects .proj-images .proj-img img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all linear 0.5s;
}
.proj-img:hover img{
  transform: scale(1.2);
}

/* home page contact button */

#contact{
  height: 10vh;
  width: 80vw;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
#contact #contact-btn{
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* about page */

#about{
  height: auto;
  width: 80vw;
  margin: 0px auto;
  position: relative;
  top: 70px;
  box-sizing: border-box;
}
#about .about-para{
  text-align: center;
  font-size: 20px;
  color: var(--fontcolor);
  font-weight: 600;
  box-sizing: border-box;
}
#about .about-container{
  height: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}
#about h3{
  text-align: center;
  color: var(--namecolor);
  font-size: 30px;
  text-decoration: underline;
}
#about .about-container .about-img,#about .about-container .about-me{
  height: 400px;
  width: 49%;
  margin: 70px auto;
}
#about .about-container .about-img{
  width: auto;
  border-radius: 10px;
  overflow: hidden;
}
#about .about-container .about-me p{
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
}
#about .about-container .about-me p a{
  color: var(--namecolor);
  font-weight: 800;
}

/* about page experience section */

#experience{
  height: auto;
  width: 80%;
  margin: 0px auto;
  padding-bottom: 50px;
  position: relative;
  top: 150px;
}
#exp p{
  text-align: center;
  font-size: larger;
}
#exp .institute{
  margin-top: 50px;
}
#about2{
  height: auto;
  width: 80vw;
  margin: 50px auto;
  position: relative;
  top: 100px;
}

/* about page certification section */

#about2 .certifications{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 160px;
}
#about2 .certifications .certificate{
  width: 25vw;
  height: 300px;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  padding-top: 50px;
}
#about2 .certifications .certificate:last-child{
  padding-top: 30px;
}

/* about page certification images */

#about2 .certifications .certificate img{
  width: 250px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
#about2 .certifications .certificate .certino{
  cursor: pointer;
}

/* skills page */

#skills{
  height: fit-content;
  width: 80%;
  margin: 0px auto;
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}
#skills .container{
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}
#skills .container .skillsdisplay{
  width: 350px;
  height: 400px;
  border: 1px solid;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
#skills .container .skillsdisplay img{
  width: 70%;
  aspect-ratio:4/4;
}
#skills .container .skillsdisplay .skill-title{
  font-size: 40px;
  text-decoration: underline;
}
#skills .container .skillsdisplay p{
  font-size: larger;
  font-weight: 600;
}

/* contact page */

.contact{
  height: auto;
  width: 80%;
  margin: 0px auto;
  position: relative;
  top: 100px;
  margin-bottom: 170px;
}
.contact .contact-container{
  height: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
.contact .contact-container .left-container,.contact .contact-container .right-container{
  width: 500px;  
  height: 500px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}

.left-container .myform #name{
  margin-top: 30px;
}
.left-container .myform #name,.left-container .myform #email,.left-container .myform .message{

  width: 99%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background-color: transparent;
  font-size: 20px;
  color: white;
}
.left-container .myform .message{
  height: 120px;
  resize: none;
}
.left-container .submitbutton{
  height: 40px;
  width: 150px;
  background-color: var(--namecolor);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  margin: 20px;
  cursor: pointer;
}

.right-container .contact-info{
  font-size: 25px;
}
.right-container .ques{
  margin-top: 5px;
  font-size: 20px;
  color: #666666;
}
::placeholder{
  font-size: 20px;
}
.right-container .address-container{
  height: 300px;
  margin: 10px auto;
  box-sizing: border-box;
}
.right-container .address-container .address-sub-container{
  height:auto;
  width: 100%;
  margin: 50px 0px;
}
.right-container .address-container .address-sub-container .address-icon{
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
}
.right-container .address-container .address-sub-container .address-data{
  font-size: large;
  margin-top: -50px;
  margin-left: 50px;
  color: #666666;
}
.right-container .address-container .address-sub-container .address-data span{
  color: white;
}

/* project page */

.project-page{
  height: auto;
  width: 80%;
  margin: 0px auto;
  position: relative;
  top: 60px;
  margin-bottom: 100px;
}
.project-page .project-section{
  height: auto;
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgb(98, 97, 97);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.project-page .project-section .project-image,.project-page .project-section .project-description{
  height: 450px;
  width: 450px;
  margin: 0px auto;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
}
.project-page .project-section .project-description{
  height: auto;
}
.project-page .project-section .project-image img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  transition: all linear 0.2s;
}
.project-page .project-section .project-image img:hover{
  transform: scale(1.2);
}
.project-page .project-section .project-description h1{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  text-decoration: underline;
  color: white;
}
.project-page .project-section .project-description p{
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
.project-page .info{
  text-align: center;
}
.project-page .info a{
  color: var(--namecolor);
}

/* footer */

footer{
  height: 10vh;
  width: 100%;
  background-color: #14191b;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
}
footer p{
  text-align: center;
}

/* media queries */

@media screen and (max-width:730px) {
  #navbar .right{
    display: none;
  }
  .waviy{
    font-size: 40px;
  }
  #main .social-icons{
    margin-top: 200px;
  }
}
@media screen and (max-width:500px){
  
  #navbar .center{
    display: none;
  }
  #navbar{
    justify-content: end;
  }
  #navbar .left {
    position: absolute;
    left: 20px;
  }
  #navbar .bars{
    display: block;
    position: fixed;
    top: 10px;
    z-index: 7;
  }
  #navbar .bars button{
    font-size: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 15px;
  }
  .waviy{
    font-size: 30px;
    /* font-size: 24px; */
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }
  #main .hi{
    font-size: large;
  }
  #main .text-div #text{
    font-size: 24px;
    /* margin-left: -100px; */
  }
  #main{
    /* background-position: ; */
    /* background-position: ; */
    /* background-size: cover; */
    /* back */
    /* background-position-y: -150px; */
    /* background-position: right; */
    padding: 50px 0px;
  }
  #main .hi{
    margin-left: 10px;
    margin-top: 80px;
    font-size: 30px;
  }
  #main .text-center{
    text-align: center;
    /* margin-top: 80px; */
    font-size: 27px;
  }
  #main .mleft{
    margin-left: 0px;
    /* font-size: large; */
  }
  .myimg{
    height: 180px;
    width: 180px;
    top: 150px;
    /* display: none; */
  }
  .myimg img{
    margin-top: 50px;
  }
  #main .text-div #text {
    font-size: 30px;
  }
  #main .hirebtn{
    margin-left: 100px;
    margin-top: 250px;
  }
  #main .social-icons{
    margin-top: 10%;
    display: block;
    /* margin-top: auto; */
    /* align-items: center; */
  }
  #main .social-icons .icon{
    height: 40px;
    width: 40px;
    font-size: larger;
    line-height: 40px;
  }
  
  #second{
    width: 80vw;
  }
  #second .abt{
    font-size: 30px;
  }
  #second #abt-para{
    font-size: medium;
  }
  #third{
    width: 80vw;
  }
  #third .skills{
    display: block;
  }
  #third .skills-home{
    width: 60vw;
  }
  #education{
    margin-top: 200px;
    width: 80vw;
  }
  #about{
    height: 170vh;
  }
  #about .about-heading{
    font-size: 40px;
  }
  #about .about-container .about-img,#about .about-container .about-me{
    width: 90%;
  }
  #about .about-container .about-img{
    width: auto;
  }
  #about .about-container .about-me{
    height: auto;
  }
  #about2{
    margin-top: 200px;
  }
  .about-heading{
    font-size: 30px;
  }
  #about2 .certifications{
    display: block;
  }
  #about2 .certifications .certificate{
    width: auto;
  }
  #experience{
    top: 250px;
  }
  .project-page .project-section .project-description{
    margin-top: 30px;
  }
  .project-page .project-section .project-description h1{
    font-size: 28px;
  }
  .project-page .project-section .project-description p{
    font-size: 20px;
  }
  #exp{
    margin-top: 50px;
  }
}
@media screen and (max-width:400px){
  #about2{
    margin-top: 300px;
  }  
}
@media screen and (max-width:380px) {
  /* #main{
    background-color: blue;
  } */
 
  #main .text-center {
    font-size: 24px;
  }
  #main .social-icons{
    margin-top: 5%;
  }
  #main .text-div #text {
    font-size: 24px;
  }
  #second{
    height: auto;
    margin-top: 100px;
  }
  #education{
    margin-top: 250px;
  }
  #education .edu{
    font-size: 40px;
  }
  #about .about-heading{
    font-size: 30px;
  }
  #about2{
    margin-top: 600px;
  }
  #experience{
    top: 600px;
  }
}
